#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2px auto;
}

.task1, .task2 {
  max-width: 500px;
  min-height: 100px;
  border: 1px solid black;
  border-radius: 5px;
}

.displayNone {
  display: none;
}
